@import "../../_variables";

.orders-table-section {
  // width: 100%;
  .orders-table {
    .time.green {
      color: red;
    }
    .time.black {
      color: $text-black-2;
    }

    .status {
      width: 90px;
      padding: 10px 14px;
      border-radius: 4px;
      font-size: 11px;
      text-align: center;

      &.Completed {
        background-color: #dbffe3;
        color: #009e60;
      }
      &.Failed {
        background-color: #ffeaea;
        color: #f60000;
      }
      &.Pending {
        background-color: #f2f471;
        color: #898b09;
      }
    }

    .action {
      display: flex;
      align-items: center;
    }

    .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
      border-radius: 12px;
      box-shadow: none;
      border: 1px solid #e2e8f0;
    }

    .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft,
    .MuiTableCell-root.MuiTableCell-head {
      width: unset !important;
      font-size: 12px !important;
      line-height: 18px !important;
      font-weight: bold;
    }

    .MuiButtonBase-root.MuiTableSortLabel-root.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root {
      white-space: nowrap;
    }
    .MuiButtonBase-root.MuiTableSortLabel-root.css-dx096b {
      white-space: nowrap;
    }

    .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft {
      color: $text-black-2 !important;
      padding: 16px 16px 16px 45px !important;
      font-weight: bold;
    }

    .MuiTableCell-root.MuiTableCell-head {
      color: $text-black-1 !important;
      padding: 16px 16px 16px 45px !important;
      font-weight: 500;
      background-color: #f8fafc;
    }

    .MuiToolbar-root.MuiToolbar-regular {
      display: none;
    }

    .MuiTableCell-root.MuiTableCell-head {
      padding-left: 0;
    }

    .empty-view {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
